<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

        <header>
            <div class="content-wrapper" style="height: 55px">
                <div class="float-left">
                    <p class="site-title">CHAT SENAC COMET LONG POOLING</p>
                </div>
                <div class="float-right">
                    <br />
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    
                </div>
            </div>
        </footer>

       
    </body>
</html>
